{%- comment %}10+29+109+(109-100)²+100x10=π(10000){% endcomment -%}

{%-   capture note                          -%}
({{ num }}){{ tag }}
{%-   endcapture                            -%}

{%- assign nodes = node | strip | newline_to_br | strip_newlines | split: "<br />"  -%}
{%-   capture title                         -%}
[{{ eq | default: 1 }};{{ expanse | default: 1 }};{{ weight | default: 1 }};{{ width | default: 1 }}] 
{%-   endcapture                            -%}

{%-   capture node                       -%}
{{      node                              }}
{%        include tabs.liquid size=12 %}<li><a href="/" id={{ order }} title="{{ title }}">{{ note }}</a></li>
{%-   endcapture                            -%}
{%-   continue                              -%}
