{%- comment %}
10+29+109+(109-100)²+100x10=π(10000)
{%- assign strip = nodes | strip | newline_to_br | strip_newlines | split: "<br />"  -%}
{% endcomment -%}

{%-  assign title = '('
       | append: num
       | append: ')'
       | append: tag                        -%}

{%-   capture stage                        -%}
[{{ eq | default: 1 }};{{ expanse | default: 1 }};{{ weight | default: 1 }};{{ width | minus: 32}}] 
{%-   endcapture                            -%}

{%-  assign stage = "["
       | append: eq | default: 1
       | append: ";"
       | append: expanse | default: 1
       | append: ";"
       | append: weight | default: 1
       | append: ";"
       | append: width | minus: 32
       | append: "]"                       -%}



{%-  assign node = '<li>'                   -%}
{%-  assign node = node
       | append: '<a href="'
       | append: baseurl
       | append: '" id='
       | append: order
       | append: ' title="'
       | append: stage
       | append: '">'
       | append: title
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=12 %}{{ node }}
{%-  endcapture                             -%}
{%-  continue                               -%}
