{%-      assign link = '<li>'                     -%}
{%-      assign title = titles[keys_size]    -%}
{%-      assign stage = stages[keys_size]    -%}
{%-      assign baseurl = title | prepend: "/"    -%}

{%-      if site.baseurl == baseurl               -%}
{%-        assign link = '<li class="current">'   -%}
{%-      endif                                    -%}

{%-      assign link = link
           | append: '<a href="'
           | append: baseurl
           | append: '" id="'
           | append: title
           | append: '" title="'
           | append: stage
           | append: '">'
           | append: title
           | append: '</a>'                       -%}

{%-      assign title = 'group'                   -%}
{%-      assign _link = '<li>'
           | append: '<a href="/'
           | append: title
           | append: '-'
           | append: group
           | append: '" id="'
           | append: title
           | append: '-'
           | append: group
           | append: '" title="'
           | append: title
           | append: '-'
           | append: group
           | append: '">'
           | append: title
           | append: '-'
           | append: group
           | append: '</a>'                     -%}

{%-   if link_sequence == "main" -%}
{%-      capture links                            -%}
{{         links                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=11 %}</ul>
{%         include tabs.liquid size=10 %}</li>
{%         include tabs.liquid size=10 %}{{ link }}
{%         include tabs.liquid size=11 %}<ul>
{%         include tabs.liquid size=12 %}{{ _link }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                               -%}
{%-   else -%}
{%-      capture links                          -%}
{{         links                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=12 %}{{ _link }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}
{%-   endif -%}