{%-      assign node = '<li>'                     -%}
{%-      assign title = titles[keys_size]    -%}
{%-      assign stage = stages[keys_size]    -%}
{%-      assign baseurl = title | prepend: "/"    -%}

{%-      if site.baseurl == baseurl               -%}
{%-        assign node = '<li class="current">'   -%}
{%-      endif                                    -%}

{%-      assign node = node
           | append: '<a href="'
           | append: baseurl
           | append: '" id="'
           | append: title
           | append: '" title="'
           | append: stage
           | append: '">'
           | append: title
           | append: '</a>'                       -%}

{%-      assign _node = '<li>'
           | append: '<a href="'
           | append: baseurl
           | append: '/'
           | append: group
           | append: '" id="'
           | append: title
           | append: '-'
           | append: group
           | append: '" title="'
           | append: title
           | append: '-'
           | append: group
           | append: '">'
           | append: title
           | append: '-'
           | append: group
           | append: '</a>'                     -%}

{%-   if group == 1 -%}
{%-      capture nodes                            -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=11 %}</ul>
{%         include tabs.liquid size=10 %}</li>
{%         include tabs.liquid size=10 %}{{ node }}
{%         include tabs.liquid size=11 %}<ul>
{%         include tabs.liquid size=12 %}{{ _node }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                               -%}
{%-   else -%}
{%-      capture nodes                          -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=12 %}{{ _node }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}
{%-   endif -%}