{%- comment %}10+29+109+(109-100)²+100x10=π(10000){% endcomment -%}

{%-   capture title                          -%}
({{ num }}){{ tag }}
{%-   endcapture                            -%}

{%- assign strip = nodes | strip | newline_to_br | strip_newlines | split: "<br />"  -%}

{%-   capture stage                         -%}
[{{ eq | default: 1 }};{{ expanse | default: 1 }};{{ weight | default: 1 }};{{ width | minus: 32 }}] 
{%-   endcapture                            -%}

{%-  assign node = '<li>'                   -%}
{%-  assign node = node
       | append: '<a href="'
       | append: baseurl
       | append: '" id='
       | append: order
       | append: ' title="'
       | append: stage
       | append: '">'
       | append: title
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=12 %}{{ node }}
{%-  endcapture                             -%}
{%-  continue                               -%}
