{%- capture tab -%}
{% include tabs.liquid size=11 %}
{%- endcapture -%}

{%- capture node -%}
<li><a href="/" id={{ size }}>[1;1] {{ num }}</a></li>
{%- endcapture -%}

{%- capture current -%}
{{ current }}
{{ tab }}{{ node }}
{%- endcapture -%}
