{%-   if id == 10                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/lexer"id={{ id }} >Lexer</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   elsif id == 39                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/parser"id={{ id }} >Parser</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   elsif id == 68                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/grammar"id={{ id }} >Grammar</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   else                                  -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}<li><a href="/" id={{ id }} title="[1;1;1]">({{ num }})</a></li>
{%-     endcapture                          -%}
{%-   endif                                 -%}
