{% comment %}   spin 7 to 13   {% endcomment %}

{%-   if id == 11                -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/lexer" id={{ id }} title="{{ lexer }}: Spin 7 to 109 via 30 of 1+29 (10th prime)">Lexer</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{% comment %}  spin 13 to 43   {% endcomment %}

{%-   elsif id == 30             -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/parser" id={{ id }} title="{{ parser }}: Spin 13 to 43 via 139=109+30 (1st-step of 36 on the 1st-layer)">Parser</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{% comment %}  spin 43 to 89   {% endcomment %}

{%-   elsif id == 140                       -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/grammar" id={{ id }} title="{{ grammar }}: Spin 19 of (43 to 89) via 169=139+30 (2nd-step of 36 on the 2nd-layer)">Grammar</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   endif                                 -%}

{%-   capture note                          -%}
({{ num }}){{ tag }}
{%-   endcapture                            -%}
{%- assign array = current | strip | newline_to_br | strip_newlines | split: "<br />"  -%}
{%-   capture title                         -%}
[{{ eq | default: 1 }};{{ expanse | default: 1 }};{{ weight | default: 1 }};{{ width | default: 1 }}] 
{%-   endcapture                            -%}
{%-   capture current                       -%}
{{      current                              }}
{%        include tabs.liquid size=11 %}<li><a href="/" id={{ id }} title="{{ title }}">{{ note }}</a></li>
{%-   endcapture                            -%}
{%-   continue                              -%}

