{% comment %}   spin 7 to 13   {% endcomment %}

{%-   if expanse == 7                -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/lexer" id={{ expanse }} title="spin 7 to 109 via 30 of 1+29 (10th prime)">Lexer</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{% comment %}  spin 13 to 43   {% endcomment %}

{%-   elsif expanse == 11            -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/parser" id={{ expanse }} title="spin 13 to 43 via 139=109+30 (1st-step of 36 on the 2nd-layer)">Parser</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{% comment %}  spin 43 to 89   {% endcomment %}

{%-   elsif expanse == 13            -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/grammar" id={{ expanse }} title="spin 19 of (43 to 89) via 169=139+30 (2nd-step of 36 on the 2nd-layer)">Grammar</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}
{%-   endif                                 -%}

{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}<li><a href="/" id={{ expanse }} title="[{{ expanse | default: 1 }};{{ width | default: 1 }};{{ weight | default: 1 }};{{ size | default: 1 }}]">({{ num }}){{ tag }}</a></li>
{%-     endcapture                          -%}
{%-       continue        -%}

