{%-   if id == 1                            -%}
{%-     capture current                      %}
{%        include tabs.liquid size=9 %}<li><a href="/" id=1 title="[1;1;1]">Home</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}
{%-   endif                                 -%}

{%-   capture current                       -%}
{{      current                              }}
{%      include tabs.liquid size=11 %}<li><a href="/" id={{ id }} title="[1;1;1]">({{ num }})</a></li>
{%-   endcapture                            -%}

{%-   if id == 10                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/lexer">Lexer</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}
{%-   endif                                 -%}

{%-   if id == 29                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/parser">Parser</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}
{%-   endif                                 -%}

{%-   if id == 39                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/grammar">Grammar</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}
{%-   endif                                 -%}
