{%- capture tab -%}
{% include tabs.liquid size=11 %}
{%- endcapture -%}

{%- capture node -%}
<li><a href="/" id={{ num}}>[1;{{ size | minus: 1}}]</a></li>
{%- endcapture -%}

{%- capture current -%}
{{ current }}
{{ tab }}{{ node }}
{%- endcapture -%}
