{%-   if order <= 10                        -%}
{%-     assign id = order                   -%}
{%-   endif                                 -%}

{%-   if primes contains order              -%}
{%-     assign parts = parts | push: order  -%}
{%-     assign width = parts | size         -%}

{%-     if width < 10                       -%}
{%-       assign id = id | plus: 1          -%}
{%-     endif                               -%}
{%-   endif                               -%}

{%-     if parts contains width             -%}
{%-       assign bond = bond | push: width  -%}
{%-       assign weight = bond | size       -%}

{%-       if weight < 10                      -%}
{%-         assign id = id | plus: bond      -%}
{%-       endif                               -%}

{%-       if bond contains weight           -%}
{%-         assign arm = arm | push: weight -%}
{%-	        assign expanse = arm | size     -%}

{%-         if expanse < 10                      -%}
{%-           assign id = id | plus: expanse      -%}
{%-         endif                               -%}

{%-	        if arm contains expanse         -%}
{%-	          assign io = io | push: expanse -%}
{%-	          assign eq = io | size     -%}

{%-           if eq < 10                      -%}
{%-             assign id = id | plus: eq      -%}
{%-           endif                               -%}

{%-	        endif                            -%}
{%-	      endif                            -%}
{%-	    endif                              -%}

{%-   if id == 11                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/lexer"id={{ id }} >Lexer</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   elsif id == 39                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/parser"id={{ id }} >Parser</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   elsif id == 68                           -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%        include tabs.liquid size=9 %}<li><a href="/grammar"id={{ id }} >Grammar</a>
{%        include tabs.liquid size=10 %}<ul>
{%-     endcapture                          -%}

{%-   endif                                   -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}<li><a href="/" id={{ id }} title="[1;1;{{ id }}]">({{ num }})</a></li>
{%-     endcapture                          -%}
{%-       continue        -%}

