{%-  assign node = '<li>'                   -%}
{%-  assign stage = stages[forloop.index0]  -%}
{%-  assign title = titles[forloop.index0]  -%}

{%-  if site.baseurl == "/"stage            -%}
{%-    assign node = '<li class="current">' -%}
{%-  endif                                  -%}

{%-  capture node                           -%}
{{-    node                                 -}}
<a href="/{{ stage }}" id={{ item }} title="{{ title }}">{{ stage }}</a>
{%-  endcapture                             -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=11 %}</ul>
{%     include tabs.liquid size=10 %}</li>
{%     include tabs.liquid size=10 %}{{ node }}
{%     include tabs.liquid size=11 %}<ul>
{%-  endcapture                             -%}
