{% comment %} 10th+1=30  {% endcomment %}

{%-   if order == 30                        -%}
{%-     assign title = "lexer"                -%}
{%-     assign stage = title | append: "/"                -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li{% if site.baseurl == stage %} class="current"{% endif %}><a href="stage" id={{ order }} title="{{ stages[0] }}: Spin 7 to 109 via 30 of 1+29 (10th prime)">Lexer</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{% comment %} (10th)th+1=110 {% endcomment %}

{%-   elsif order == 110                    -%}
{%-     assign title = "parser"               -%}
{%-     assign stage = title | append: "/"                -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li{% if site.baseurl == stage %} class="current"{% endif %}><a href="stage" id={{ order }} title="{{ stages[1] }}: Spin 13 to 43 via 139=109+30 (1st-step of 36 on the 1st-layer)">Parser</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{% comment %} ((10th)th)+1=600 {% endcomment %}

{%-   elsif order == 600                    -%}
{%-     assign title = "grammar"              -%}
{%-     assign stage = title | append: "/"                -%}
%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li{% if site.baseurl == stage %} class="current"{% endif %}><a href="stage" id={{ order }} title="{{ stages[2] }}: Spin 19 of (43 to 89) via 169=139+30 (2nd-step of 36 on the 2nd-layer)">Grammar</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{%-   endif                                 -%}
